$variant: 'light' !default;
$transparency: 'true' !default;
$gtk3_ver_int: 300180009 !default; // 3.18.9

@import 'colors';
@import 'drawing';
@import 'common';
@import 'applications';
@import 'unity';
@import 'granite';
@import 'lightdm';
@import 'transparent_widgets';
@import 'colors-public';
