$variant: 'light' !default;
$transparency: 'true' !default;
$gtk3_ver_int: 300240024 !default; // 3.24.24

@import 'colors';
@import 'drawing';
@import 'common';
@import 'applications';
@import 'unity';
@import 'granite';
@import 'lightdm';
@import 'transparent_widgets';
@import 'colors-public';
@import 'budgie';
@import 'libhandy';
